@tailwind base;
@tailwind components;
@tailwind utilities;

.msg {
  color: #6495ed;
  font-weight: 500;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.msg:hover {
  color: #5077be;
  font-weight: 600;
}

.dark .msg {
  color: #5077be;
}

.dark .msg:hover {
  color: #405f98;
}
